<!DOCTYPE html>
<html>
 <head>
    <meta charset="UTF-8">
    <title>Bronze Age Comics: <%=item.name%></title>
    <link rel="stylesheet" href="/style1.css">
 </head>
 <body>
    <div id="banner">
        <a href="/">
            <span>Bronze Age Comics: <%=item.name%></span>
        </a>
    </div>
    <div id="main" vocab="http://schema.org/">
        <section id="menu">
         <ul>
          <div class="PeriodicalSeries" typeof="Intangible/PeriodicalSeries">
            <dl><dt><h3>Title</h3></dt><dd property="name"><a href="/titles/<%=item.id%>" title="<%=item.name%>"><%=item.name%></a></dd></dd></dl>
            <dl><dt><h3>Publisher</h3></dt><dd property="intangible/imprint"><%=item.imprint%></dd></dl>
            <dl><dt><h3>Year Began</h3></dt><dd property="intangible/startYear"><%=item.startyear%></dd></dl>
            <% if (item.description) { %>
            <dl><dt><h3>Description</h3></dt><dd property="description"><%=item.description%></dd></dl>
            <% } %>
            <br>
            <br>
            <li><a href="/titles/">Go Back to All Titles</a></li>
         </ul>
	    </section> 
	    <section id="content">
            <div id="primary">
                <h3>Issues</h3>
                    <% if (related_items.length > 0) { %>
                    <ul>
                    <% related_items.forEach(function(related_item) { %>
                        <dd>
                            <a href="/issues/<%=related_item._id%>">
                                <%=related_item.name%>
                            </a>
                        </dd>
                    <% }); %>
                    </ul>
                    <% } else { %>
                    No issues have been added to this title.
                    <% } %>
                <h3>Add a new Issue</h3>
                <form id="create-issue" method="post" action="/issues/">
                <input type="hidden" name="item[title]" value="<%=item._id%>">
                <!-- The line above links the issue to be created to this title. -->
        
                <label>Issue number: <br>
                <input name="item[name]" type="int" pattern="[0-9]+" required
                   placeholder="122">
                </label><br>
                <label>Writer: <br>
                <input name="item[writer]" type="text" required
                   placeholder="Gerry Conway">
                </label><br>
                <label>Penciler: <br>
                <input name="item[penciler]" type="text" required
                   placeholder="Gil Kane">
                </label><br>
                <label>Cover Artist: <br>
                <input name="item[coverartist]" type="text" required
                   placeholder="John Romita">
                </label><br>
                <label>Colorist: <br>
                <input name="item[colorist]" type="text" required
                   placeholder="David Hunt">
                </label><br>
                <label>Letterer: <br>
                <input name="item[letterer]" type="text" required
                   placeholder="Artie Simek">
                </label><br>
                <label>Inker: <br>
                <input name="item[inker]" type="text" required
                   placeholder="John Romita">
                </label><br>
                <label>Editor: <br>
                <input name="item[editor]" type="text" required
                   placeholder="Roy Thomas">
                </label><br>
                <label>Orig. Published: <br>
                    (Bronze Age Issues only (1970-1985)):<br>
                <input name="item[datepub]" type="int" pattern="\b19(7[0-9]|8[0-5])\b" required
                   placeholder="1972">
                 </label><br>
                <label>Issue image URL:<br>
                <input name="item[image]" type="url" size="80"
                   placeholder="http://upload.wikimedia.org/wikipedia/en/5/54/AmazingSpider-Man1.jpg">
                </label><br>
                <button>Add</button>
                </form>
            </div>
        </section>
    </div>    
  </body>
</html>