<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Bronze Age Comics: <%=item.name%></title>
    <link rel="stylesheet" href="/style1.css">
  </head>
  <body vocab="http://schema.org/" typeof="Comic Issue">
    <a href="/"><h1 property="name">Bronze Age Comics: single issue</h1></a>
		  	  
	<div property="comicIssue" typeof="ComicIssue">
		<div><span property="series" typeof="PeriodicalSeries">
			<dl><dt>Issue Number</dt><dd property="issueNumber"><%=item.name%></dd></dl>
			<dl><dt>Title</dt><dd property="series" typeof="PeriodicalSeries"><dd property="name"><a property="url" href="/titles/<%=item.title%>" title="<%=item.title%>"><%=item.title%></a></dd></dd></dl>
			<dl><dt>Writer</dt><dd property="writer" typeof="Person"><%=item.writer%></dd></dl>
			<dl><dt>Penciler</dt><dd property="penciler" typeof="Person"><%=item.penciler%></dd></dl>
			<dl><dt>Cover Artist</dt><dd property="coverArtist" typeof="Person"><%=item.coverartist%></dd></dl>
			<dl><dt>Colorist</dt><dd property="colorist" typeof="Person"><%=item.colorist%></dd></dl>
			<dl><dt>Letterer</dt><dd property="letterer" typeof="Person"><%=item.letterer%></dd></dl>
			<dl><dt>Orig. Published</dt><dd property="datePublished"><%=item.datepub%></dd></dl>
			<% if (item.image) { %>
			<dl><dt>Image URL</dt><dd property="image" typeof="MediaObject"><img property="contentUrl" src="<%=item.image%>" alt="<%=item.name%>"></dd></dl>
			<% } %>
		</div>
	</div>	
	
    <dl>
      <dt>Issue number</dt>
      <dd><%=item.name%></dd>
	  
      <dt>Title</dt>
      <dd><a href="/titles/<%=item.title%>"><%=item.title%></a></dd>
	  
      <% if (item.image) { %>
      <dt>Image URL</dt>
      <dd><img src="<%=item.image%>" alt="<%=item.name%>"></dd>
      <% } %>
    </dl>
	
	
    <div class="control">
      <h2>Update issue</h2>
      <form method="post" action="/issues/<%=item._id%>">
        <input type="hidden" name="_method" value="put">
        <!-- The line above tells the server to treat this as a PUT request. -->
        <label>Issue number: 
          <input name="item[name]" value="<%=item.name%>" type="text" required>
        </label>
        <label>Title: 
          <select name="item[title]" required>
            <% related_items.forEach(function(related_item) { %>
            <option value="<%=related_item._id%>"
              <% if (related_item._id === item.title) { %>selected<% } %>>
              <%=related_item.name%>
            </option>
            <% }); %>
          </select>
        </label>
        <label>Image URL:
          <input name="item[image]" value="<%=item.image%>" type="url" size="80"> 
        </label>
        <button>Update</button>
      </form>
    </div>
  </body>
</html>
