<!DOCTYPE html>
<html>
  <head>
    <title>Bronze Age Comics: <%=item.name%></title>
    <link rel="stylesheet" href="/style1.css">
  </head>
  <body>
    <a href="/"><h1>Bronze Age Comics: single issue</h1></a>
    <dl>
      <dt>Name</dt>
      <dd><%=item.name%></dd>
      <dt>Title</dt>
      <dd><a href="/titles/<%=item.id%>"><%=item.title%></a></dd>
      <% if (item.image) { %>
      <dt>Image URL</dt>
      <dd><img src="<%=item.image%>" alt="<%=item.name%>"></dd>
      <% } %>
    </dl>
    <div class="control">
      <h2>Update issue</h2>
      <form method="post" action="/issues/<%=item._id%>">
        <input type="hidden" name="_method" value="put">
        <!-- The line above tells the server to treat this as a PUT request. -->
        <label>Name: 
          <input name="item[name]" value="<%=item.name%>" type="text" required>
        </label>
        <label>Title: 
          <select name="item[title]" required>
            <% related_items.forEach(function(related_item) { %>
            <option value="<%=related_item._id%>"
              <% if (related_item._id === item.title) { %>selected<% } %>>
              <%=related_item.name%>
            </option>
            <% }); %>
          </select>
        </label>
        <label>Image URL:
          <input name="item[image]" value="<%=item.image%>" type="url" size="80"> 
        </label>
        <button>Update</button>
      </form>
    </div>
  </body>
</html>
